/* Home */
 #home{
    background: url("../img/home-background.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__avatar{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title,
.home__description{
    color: var(--color-white);
}

.home__contact{
    font-size: var(--size-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    color: var(--color-white);
}