/* Navbar */
#navbar{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--dark{
    background-color: var(--color-pastel-grey);
    padding: 8px;
    opacity: 0.7;
    z-index: 1;
}
.navbar__menu{
    display: flex
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0px 4px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: var(--size-border-radius);
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}


.navbar__menu__item:hover{
    border: 2px solid var(--color-white);
    background-color: var(--color-pastel-grey);
}

.navbar__menu.open{
    display: block;
}

.navbar__toggle-btn{
    position: absolute;
    top:24px;
    right:32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

