/*Global*/
@import "nav.css";
@import "home.css";
@import "about.css";
@import "skill.css";

:root{
    /* Color*/
--color-white:#ffffff;
--color-light-white:#eeeeee;
--color-dark-white:#bdbdbd;
--color-green: #CCD6A6;
--color-light-green:#DAE2B6;
--color-black: #4d4d4d;
--color-grey:#616161;
--color-light-grey:#7c7979;
--color-pastel-grey:#B2B2B2;
--color-beige:#F4EAD5;
--color-light-beige:#FFFBE9;
--color-dark-beige: #8B7E74;
--color-black:#000000;


    /* Font size*/
--font-large: 48px;
--font-medium:28px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;

    /* Font weight */

--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;

    /* Size */
--size-border-radius:4px;

    /*Animation */
--animation-duration: 300ms;
}

/*Universal tags*/
/* 공통적으로 적용해야 할것 */
*{
    box-sizing: border-box;
}


/* Section common */
.section{
    padding: 50px;
    text-align: center; 
    margin: auto;
}

.section__container{
    max-width: 1200px;
}


/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

a{
    text-decoration: none;
    color : var(--color-white);
}

ul{
    list-style: none;
    padding-left: 0px;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}