.category__btn{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}


.work__categories{
    margin: 40px;
}

.category__btn.active,
.category__btn:hover{
    background-color: var(--color-dark-beige);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
    opacity: 1;
}

.category__count{
    background-color: var(--color-green);
    border-radius: 50%;
    color: var(--color-white);
    display: inline-block;
    margin: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: relative;
    opacity: 0;
    transition: all var(--animation-duration) ease-in-out;
}

.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    position: relative;
    width: 280px;
    height: 250px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-light-white);
}

.project__img{
    max-width: 100%;
    max-height: 100%;
}

.project__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(15px);
    transition:all var(--animation-duration) ease-in;
}

.project__description h3{
    color: var(--color-white);
}

.project__description h3:after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    margin-left: -24px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}


.project:hover .project__description{
    opacity: 0.7;
    transform: translateY(0px);
}
